@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: oklch(0.6504 0.1701 39.99);

  --font-inter: "Inter", sans-serif;

  --color-light-gray: oklch(0.2308 0 0);
  --color-extraLight-gray: oklch(0.273 0 0);
  --color-black: oklch(0.1776 0 0);
}

@layer base {
  :root {
    @apply font-inter text-white bg-black;
  }

  ::selection {
    background-color: var(--color-primary); /* orange-500 */
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .heading-2 {
    @apply text-3xl sm:text-4xl text-primary font-semibold mb-4;
  }

  .heading-3 {
    @apply text-3xl sm:text-4xl text-primary font-semibold mb-4;
  }

  .icon-sm {
    @apply w-5 h-5;
  }

  .custom-container {
    @apply w-full max-w-screen-xl md:mx-auto;
  }

  .party-paper {
    background-image: url("/partypaper.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-orange-400 bg-clip-text text-transparent;
  }
}

@layer components {
  .btn {
    @apply px-4 py-3 min-w-[140px] flex gap-2 justify-center items-center cursor-pointer font-medium rounded-md border-none outline-none;
  }
}
